.Header {
    margin: 20px auto;
    max-width: 600px;
    font-size: calc(10px + 1.5vmin);
}

.ScanList {
    font-size: calc(10px + 1vmin);
    max-width: 600px;
    margin: 0 auto;
    border-style: solid;
}

.ScanListItemContainer {

    border: 1px dotted white;
}

.ScanListItem {
    padding: 10px;
    display: flex;
    flex-direction: row;
}

.UserName {
    padding: 10px;
    font-size: calc(10px + 0.5vmin);
}

.ScanListItemEditBtn {
    background-color: darkblue;
    background: 0%;
    border-radius: 3px;
    color: white;
}

.ScanListItemInfo {
    flex-grow: 2;
}
.visible {
    visibility: visible;
    display: initial;
}
.hidden {
    visibility: hidden;
    display:none;
}